/* My css style */
@import "/landing/css/components/banner.css";
@import "/landing/css/components/button.css";
@import "/landing/css/components/main.css";
@import "/landing/css/components/cards.css";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.container {
  margin: auto;
  width: 80%;
}

.txt-center {
  text-align: center;
}
