.cards-landing {
  display: flex;
  justify-content:space-between;
  margin: 20px;
}

.card-landing {
  box-shadow: 0 0 5px rgb(225, 225, 225);
  padding: 20px;
  border-radius: 8px;
}

.card-landing img{
  display: flex;
  height: 100px;
  align-content: center;
}
